/* app/styles/HomePage.css */

  .html {
    scroll-behavior: smooth;
  }

  .homepage {
    text-align: center;
    margin: 1rem;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease-in;
  }

  .about-page {
    /* text-align: center; */
    margin: 1rem;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease-in;
  }

  .about-image-container {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .about-image {
    height: 100px;
    object-fit: contain;
  }

  .color-picking{
    color: #edcdff;
  }
  
  h1.home-page.title {
    font-size: 2.5rem;
    /* margin-top: 10px; */
  }
  
  h1.home-page.title-desc {
    font-size: 2.5vw;
    margin-bottom: 10px;
  }
  
  .charm {
    /* margin-top: 10px; */
    margin-bottom: 10px;
    font-size: 2.5rem;
  }

  /* h1.home-page.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  } */
  
  .description, .extra-addition {
    font-size: 1.2rem;
    color: #555;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* .title-button-side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  } */

  .title-button-side-by-side {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }
  
  .top-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .view-requests-button,
  .upload-button {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    margin: 1rem;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease-in;
  }

  .view-requests-button {
    margin-left: auto;
    /* transform: translateY(-140); */
    transition: background-color 0.2s ease-in;
  }  
  
  .view-requests-button:hover,
  .upload-button:hover {
    background-color: #005bb5;
    transition: background-color 0.2s ease-in;
  }
  
  .error {
    color: red;
    font-weight: bold;
    margin-top: 0.5rem;
  }

  .size-limit-exceeded {
    color: rgb(255, 151, 25);
    font-weight: bold;
    margin-top: 1rem;
  }

  .media-files-limit-exceeded {
    color: rgb(214, 0, 0);
    margin: 10px 0px
  }

  .success {
    color: green;
    font-weight: bold;
    margin-top: 1rem;
  }

  .no-letter-success {
    color: blueviolet;
    font-weight: bold;
    margin-top: 1rem;
  }

  .no-letter-error {
    color: rgb(222, 0, 70);
    font-weight: bold;
    margin-top: 1rem;
  }

  .preview-section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .preview-section {
    max-width: 100%;
    overflow-x: scroll;
    /* padding: 10px; */
    display: flex;
    gap: 5px;
    height: 400px;
    margin-top: 10px;
  }
  
  .preview-section img {
    /* height: 300px; */
    /* height: 400px;
    width: auto; */
    /* aspect-ratio: initial; */
    /* height: auto; */
    /* height: 300px; */
    /* height: auto;
    width: auto; */
    /* aspect-ratio: initial; */
    max-width: 100%;
    object-fit: contain;
    border: 1px solid white;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
  }

  .table-div-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .table-div {
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 90svw;
    overflow-x: auto;
  }

  table.main-table, table.main-table-no-letter {
    margin-top: 5px;
    width: 100%;
    min-width: 720px;
  }

  table.main-table th, table.main-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
  }

  table.main-table-no-letter th, table.main-table-no-letter td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
  }


  table.main-table th {
    background-color: darkcyan;
  }

  table.main-table td {
    background-color: rgb(95, 158, 160, 0.6); /* cadetblue at 0.6 opacity */
  }

  table.user-details-table {
    margin-top: 5px;
    width: 100%;
    /* min-width: 420px; */
  }

  table.user-details-table th, table.user-details-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    color: white;
    white-space: nowrap;
    background-color: rgba(131, 8, 202, 0.811);
  }

  .table-title {
    color: darkslategrey;
    font-size: 20px;
  }

  .table-title-no-letter {
    color: rgb(209, 21, 65);
    font-size: 20px;
  }

  .main-table-no-letter th, .redth {
    background-color: rgba(255, 0, 51, 0.764);
    color: white;
  }

  .main-table-no-letter td, .redtd {
    background-color: rgba(255, 32, 106, 0.502);
    color: white;
  }

  h1.home-page, p.home-page, label {
    font-size: 20px;
  }


  .add-extra-sapids, .final-submit {
    background-color: #0070f3;
    width: 150px;
    height: 35px;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
  }

  .final-submit {
    width: 300px;
    /* width: 90%;
    height: auto; */
  }


  .add-extra-sapids:hover,
  .final-submit:hover {
    background-color: #005bb5;
  }

  .enter-reason, .sapid-input, .attendance-dates, .calendar-date-picker {
    height: 35px;
    width: 400px;
    font-size: 18px;
    margin: 5px 10px;
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
  }

  .attendance-dates {
    width: 200px;
  }

  .reason-date-container-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: auto;
  }

  .loading-text {
    font-size: 22px;
    color: blueviolet;
    animation: load 0.8s linear 0s infinite alternate none;
  }

  .row-bt:hover {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }

  .clickable:hover {
    cursor: pointer;
  }

  .past-dates {
    color: rgb(193, 14, 14);
    font-weight: bold;
  }

  .far-future-dates {
    color: rgb(9, 55, 183);
    font-weight: bold;
  }

  .sapid-form {
    margin-top: 10px;
  }

  #select-add-info {
    background-color: rgb(203, 243, 255);
    color: #006bad;
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 10px;
  }
  
  #add-sap-ids-redirector {
    text-decoration: underline #006bad;
  }

  #add-sap-ids-redirector:hover {
    cursor: pointer;
  }

  #enter-sap-ids {
    padding: 20px 5px;
    margin-top: 5px;
    transition: background-color 0.5s ease-in-out;
  }

  .highlighted {
    border-radius: 6px;
    background-color: #e2e2e2;
    transition: background-color 0.5s ease-in-out;
  }

  button.select-all-btn, button.invert-selection-btn {
    font-size: 20px;
    color: darkcyan;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: rgba(139, 184, 184, 0.665);
    transition: width 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }

  button.select-all-btn:hover, button.invert-selection-btn:hover {
    background-color: rgba(139, 184, 184, 0.5);
    transition: width 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }

  button.remove-all-btn {
    font-size: 20px;
    /* color: rgb(255, 0, 85); */
    color: rgb(255, 0, 38);
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 20px;
    /* background-color: rgba(255, 162, 193, 0.665); */
    background-color: rgba(255, 172, 185, 0.665);
    transition: width 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }

  button.remove-all-btn:hover {
    background-color: rgba(255, 172, 185, 0.5);
    transition: width 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }

  .two-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .final-info {
    margin-top: 20px;
    background-color: rgb(203, 243, 255);
    color: #006bad;
    border-radius: 5px;
    padding: 10px 40px; 
    display: inline-block;
    /* width: 90%; */
    font-size: 1.2rem;
  }

  .letter-dates-confirmation {
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    font-size: 22px;
    color: #000060;
    background-color: azure;
    background-image: linear-gradient(to bottom, azure, rgb(185, 255, 255));
    border-radius: 5px;
  }

  .letter-dates-confirmation .extracted-ones {
    color: #006e0b;
  }

  .letter-dates-confirmation .added-ones {
    color: #a20000;
  }
  
  .no-letter-dates-confirmation {
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    font-size: 22px;
    color: #000060;
    background-color: azure;
    background-image: linear-gradient(to bottom, azure, rgb(185, 255, 255));
    border-radius: 5px;
  }

  .loader-div {
    justify-content: center;
  }

  .popup-content.loader-div, .popup-content.successfully-submitted, .popup-content.could-not-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .post-success-image, .post-failure-image {
    height: 100px;
    object-fit: contain;
  }

  @keyframes load {
    from {color: blueviolet;}
    to {color: rgb(160, 160, 255);}
  }

  @media only screen and (min-width: 600px) and (max-width: 1145px) {/*1145*/
    .reason-date-container-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      gap: 20px;
    }
  }


  
  .loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 6px solid rgb(79, 0, 128);
    animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear,
    color-change 1.6s infinite linear alternate;
  }
  @keyframes l20-1 {
    0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
  }
  @keyframes l20-2 { 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
  }
  @keyframes color-change {
    0% {border: 6px solid rgb(79, 0, 128);}
    50% {border: 6px solid blueviolet;}
    100% {border: 6px solid purple;}
  }

.title-button-side-by-side {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.view-requests-button {
  margin-left: auto;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 10px;
}


.sidebar {
  position: fixed;
  top: 0;
  left: -75%;
  width: 75%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
  padding-top: 0px;
}

.close-menu {
  background: none;
  border: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 10px;
}

/* Sidebar Button */
.sidebar-view-requests-button {
  background-color: rgba(216, 216, 216, 0.772);
  font-size: 0.85rem;
  font-size: 5vw;
  /* color: rgb(25, 25, 25); */
  color: #333;
  /* border: 1px solid rgba(216, 216, 216, 0.772); */
  /* border-left: none; */
  /* border-right: none; */
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  min-width: 100%;
  transition: background-color 0.3s ease-in;
}

.sidebar-view-requests-button:hover {
  background-color: rgba(237, 237, 237, 0.772);
  font-size: 0.85rem;
  font-size: 5vw;
  color: #676767;
  /* border: 1px solid rgba(123, 108, 108, 0.332); */
  /* border-left: none; */
  /* border-right: none; */
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  min-width: 100%;
  transition: background-color 0.3s ease-in;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
}



@media (max-width: 800px) {
  /* h1.home-page.title {
    margin-top: 10px;
  } */
  
  h1.home-page.title-desc {
    margin-top: 10px;
  }
  
  .view-requests-button {
    display: none;
  }

  .hamburger-menu {
    display: block;
    transform: translate(-20px, 0px);
  }
}

@media (min-width: 801px) {
  .sidebar {
    display: none;
  }
}


.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 80%;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.close-popup {
  position: absolute;
  top: 0px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.popup-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}

.names-from-the-letter, .names-added-with-the-letter, .names-not-associated-with-a-letter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.are-you-sure, .final-success-or-error-message {
  font-size: 24px;
}


.confirmation-table {
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.confirmation-table th, .confirmation-table td {
  padding: 10px;
}

.confirmation-table th {
  font-size: 22px;
}

.confirmation-table td {
  font-size: 20px;
}

.warning {
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 10px;
}

.confirmation-table.no-letter-names th, .confirmation-table.no-letter-names td {
  border: 1.8px solid rgb(255, 91, 91);
  background-image: linear-gradient(to right, rgba(255, 153, 175, 0.751), rgba(255, 214, 223, 0.751));
}

.confirmation-table.no-letter-names th {
  color: rgb(255, 0, 51);
  background-color: rgb(255, 127, 206);
}

.confirmation-table.no-letter-names td {
  color: red
}

.red-warning {
  background-color: rgba(255, 172, 185, 0.665);
  color: red;
}

.confirmation-table.added-names th, .confirmation-table.added-names td {
  border: 1.8px solid rgb(255, 174, 0);
  background-image: linear-gradient(to right, rgba(255, 247, 0, 0.709), rgba(255, 251, 139, 0.51));
}

.confirmation-table.added-names th {
  color: rgb(255, 149, 0);
  background-color: #dac80071;
}

.confirmation-table.added-names td {
  color: rgb(255, 149, 0);
}

.yellow-warning {
  background-color: rgba(255, 248, 125, 0.603);
  color: rgb(255, 153, 0);
}

.table-skeleton-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.confirmation-table.extracted-names th, .confirmation-table.extracted-names td {
  border: 1.8px solid #009b10;
  background-image: linear-gradient(to right, rgba(148, 228, 0, 0.729), rgba(208, 255, 122, 0.6));
}

.confirmation-table.extracted-names th {
  color: rgb(0, 140, 72);
  background-color: #276f0078;
}


.confirmation-table.extracted-names td {
  color: rgb(0, 140, 72);
}

.hyper-final-submit {
  background-color: #0070f3;
  width: 200px;
  height: 35px;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.25s ease;
}

.hyper-final-submit:disabled {
  background-color: grey;
  width: 200px;
  height: 35px;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  cursor: not-allowed;
  margin-top: 20px;
}

@media only screen and (max-width: 599px) {   /* mobile phones */
  .title {
    font-size: 6vw;
  }

  
  h1.home-page.title-desc {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }


  .view-requests-button {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    /* margin: 1rem; */
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease-in;
  }

  .upload-button {
    /* width: 50vw; */
    font-size: 0.9rem;
    margin: 0.8rem;
    transition: background-color 0.2s ease-in;
  }

  /* h1.home-page, p.home-page {
    font-size: 6vw;
  } */


  label {
    font-size: 5.5vw;
  }

  .description {
    font-size: 2vw;
  }

  .extra-addition {
    font-size: 2vw;
  }

  table {
    /* margin: 5px; */
    /* width: 10vw; */
    overflow-x: scroll;
    width: 90%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .table-title {
    font-size: 1rem;
  }

  .table-title-no-letter {
    font-size: 1rem;
  }

  table.main-table th, table.main-table-no-letter th, table.user-details-table th {
    font-size: 1.05rem;
  }

  table.main-table td, table.main-table-no-letter td, table.user-details-table td {
    font-size: 0.95rem;
  }

  input {
    font-size: 16px;
  }

  input::placeholder {
    font-size: 16px;
  }

  input::-moz-placeholder {
    font-size: 16px;
  }

  input::-webkit-input-placeholder {
    font-size: 16px;
  }

  input::-ms-input-placeholder {
    font-size: 16px;
  }

  .enter-reason, .sapid-input, .attendance-dates, .calendar-date-picker {
    height: 30px;
  }

  .enter-reason, .calendar-date-picker {
    width: 55vw;
  }

  .enter-reason {
    transform: translateY(3vw);
  }

  .calendar-date-picker {
    transform: translateY(6vw);
  }

  .sapid-input {
    width: 80vw;
    margin: 0px 0px 10px 0px;
    /* margin-bottom: ; */
  }

  .attendance-dates {
    width: 25vw;
  }

  button {
    font-size: 10px;
    transition: background-color 0.2s ease-in;
  }

  .reason-date-container-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
  }

  #select-add-info {
    background-color: rgb(203, 243, 255);
    color: #006bad;
    border-radius: 5px;
    padding: 10px; 
  }

  button.select-all-btn, button.invert-selection-btn {
    font-size: 15px;
  }

  button.remove-all-btn {
    font-size: 15px;
  }

  h1.home-page.main-table-info-text {
    font-size: 6vw;
  }

  .final-submit {
    width: 250px;
    height: 35px;
  }

  /* .hyper-final-submit {
    width: 200px;
    height: 35px;
  }

  .hyper-final-submit:disabled {
    width: 200px;
    height: 35px;
  } */

  .are-you-sure, .final-success-or-error-message {
    font-size: 20px;
    margin-top: 10px;
  }

  .no-letter-dates-confirmation, .letter-dates-confirmation {
    font-size: 18px;
  }

  .confirmation-table th, .confirmation-table td {
    font-size: 16px;
  }
  
  .warning {
    font-size: 16px;
  }

  .final-info {
    padding: 10px;
    font-size: 16px;
  }
}
