.html {
    scroll-behavior: smooth;
}

.lecture-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.lecture-button {
    background-color: #b1cdec;
    color: #0056b3;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 80px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s ease-in-out;
    width: 220px;
    margin: 5px;
}

.lecture-button:hover {
    color: white;
    background-color: #0056b3;
    transform: scale(1.05);
}

.ongoing-lecture-button {
    background-color: rgba(161, 227, 181, 0.824);
    color: rgb(0, 139, 107);
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 80px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s ease-in-out;
    width: 220px;
    margin: 5px;
}

.ongoing-lecture-button:hover {
    color: white;
    background-color: rgb(50, 171, 122);
    transform: scale(1.05);
}

.currently-ongoing-text {
    color: rgb(0, 176, 105);
    color: darkcyan;
    /* font-style: italic; */
    /* font-weight: bold; */
    margin-top: 5px;
}

.lecture-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1.lecture-page, h2.lecture-page, p.lecture-page {
    color: #333;
    font-size: 25px;
}

.request {
    /* background-color: #007bff; */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    /* transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out; */
}


.server-error {
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 500px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.no-lectures {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.no-lectures-image {
    height: 100px;
    object-fit: contain;
}

.server-error p.lecture-page {
    text-align: center;
    justify-content: center;
}

.server-error .server-error-image {
    height: 100px;
    object-fit: contain;
}

.all-ongoing-lectures-button {
    width: 220px;
    font-size: 16px;
    color: darkcyan;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 40px;
    background-color: rgba(133, 185, 171, 0.731);
    transition: width 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.all-ongoing-lectures-button:hover {
    background-color: rgba(114, 201, 165, 0.826);
    transition: width 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 6px solid rgb(79, 0, 128);
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear,
      color-change 1.6s infinite linear alternate;
  }
  @keyframes l20-1 {
     0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
     12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
     25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
     50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
     100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
  }
  @keyframes l20-2 { 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
  }
  @keyframes color-change {
    0% {border: 6px solid rgb(79, 0, 128);}
    50% {border: 6px solid blueviolet;}
    100% {border: 6px solid purple;}
  }